TELEGRAM_BOT_TOKEN=вставь_свой_токен_сюда
GROQ_API_KEY=вставь_свой_ключ_Groq_сюда
MORNING_CHECK_TIME=09:00
SLEEP_REMINDER_TIME=22:30
DB_PATH=./gymbot.db
TURSO_DATABASE_URL=твой_turso_url
TURSO_AUTH_TOKEN=твой_turso_токен